@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
    text-align: center;
    color: darkgrey;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    background-color: #F4F4F5;
}

.navbar {
    display: flex;
    background-color: darkgrey;
    color: white;
    justify-content: space-around;
}

.nav2{
    list-style-type: none;
    font-size: 25px;
    margin: 0;
    padding: 0px;
}

.nav2 li {
    display: inline-block;
    padding: 0px;
    margin: 0;
}

.navka {
    padding: 0;
    position: absolute;
    top: 48px;
    width: 190px;
    height: 190px;
    display: none;
    background-color: dimgrey;
}

.prvnav {
    padding: 5px;
    margin: 5px;
}

.prvnav li {
    display: block;
    color: white;
}

.prvnavn li a {
    margin: 5px;
}


.a1 {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

.wee {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 25px;
    display: inline-block;
}

.asinic {
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1010px) {

    .navbar {
        justify-content: start;
    }

    .nav2 {
        display: none;
    }

    .asinic {
        display: block;
    }

}

.asinic li:hover .navka {
    display: block;
}

h1 {
    margin: 40px;
}

.wee:hover {
    color: lightsteelblue;
    transition: 0.3s;
}

.a1:hover {
    color: lightsteelblue;
    transition: 0.3s;
}

.podvec{
    text-align: center;
    color: darkgrey;
}

.idk{
    text-align: center;
    color: darkgrey;
}

.picuvod{
    width: 640px;
    height: 346px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   border-style: solid;
    border-width: 8px;
    border-color: dimgrey;
    border-radius: 8p;
    opacity: 1;
}

.picuvod:hover{
    cursor: pointer;
    opacity: 0.8;
}

